.mainDark {
  background-color: #282828;
  .cardItemDetail {
    @include darkMode;
    .datosIzqItemDetail {
      h3 {
        color: white;
      }
    }
    .datosDerItemDetail {
      h2 {
        color: white;
      }
    }
  }
  .checkoutFormContainer {
    @include darkMode;
    form {
      label {
        color: white;
      }
    }
  }
  .cartContainer {
    @include darkMode;
  }
  .cartContainerEmpty {
    @include darkMode;
  }
  .buyOrderContainer {
    @include darkMode;
  }
}
